@font-face {
    font-family: "Inconsolata";
    src: url(../font/Inconsolata-VariableFont_wdth\,wght.ttf) format("truetype");
  }
:root{
    --btnActive: rgb(179, 27, 27);
    --btnHover: rgb(116, 32, 32);
    --btnNActive:  rgb(216,84,84);
    --selActive: rgb(228, 81, 23);
    --selHover: rgb(138, 47, 11);
    --selNActive:  rgb(214, 109, 68);
    --colorA: rgb(240, 224, 79);
    --colorB: rgb(240, 189, 79);
    --colorC: rgb(194, 166, 74);
    --colorD: rgb(194, 142, 74);
}

html{
    background-color: rgb(160, 76, 65);
    font-family: Inconsolata;
    font-size: larger;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}


body{
    margin: 0;
}

#top-header{
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1vmax rgb(44, 8, 2);
    overflow: hidden;
}

#top-header > * {
    margin: auto;
}
.main-title{
    text-align: center;
    font-size: 3vmax;
    padding-left: 1vw;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.header-gradient-ER{
    background: rgb(172,171,155);
    background: linear-gradient(0deg, rgba(216,84,84,1)30%, rgba(172,171,155,1)  100%); 
}
#main-search-label{
    height: 100%;
    margin-left: 1vw;
    text-align: center;
    display: flex;
    
}
#main-search{
    width: 35vw;
    border-radius: 7px;
    margin: auto;

}
#filter-icon{
    width: 7vh;
    height: 7vh;
    padding: 2vh;
}
#filter-icon:hover{
    background-color: var(--btnHover);
}
aside{
    display: flex;
}
aside > div{
    flex-grow: 1;
}
.side-btn{
    font-size: 3vmax;
    align-items: center;
    text-align: center;
    display: flex;
}
.side-btn > span{
    flex-grow: 2;
}
.btn-n-active{
    background-color: var(--btnNActive);
}
.btn-n-active:hover{
    background-color: var(--btnHover);
}
.btn-active{
    background-color: var(--btnActive);
}
.btn-active:hover{
    background-color: var(--btnHover);
}

main{
    overflow-y: scroll;
}

input[type="text"] {
    font-size: 2vmax;
}

.btn, .side-btn{
    box-shadow: inset 0 0 1vmax rgb(44, 8, 2);
    cursor:pointer;
}

@media (orientation: landscape) {
    #non-header{
        display: flex;
    }
    aside{
        height: 90vh;
        width: 15vw;
        flex-direction: column;
    }
    main{
        height: 90vh;
        width: 85vw;
    }
  }
  
  @media (orientation: portrait) {
    body{
        display: flex;
        flex-direction: column;
    }
    #non-header{
        display: flex;
        flex-direction: column;
    }
    aside{
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
    }
    main{
        height: 80vh;
        width: 100vw;
    }
  }