@font-face {
    font-family: "Inconsolata";
    src: url(../font/Inconsolata-VariableFont_wdth\,wght.ttf) format("truetype");
  }

html{
    background-color: var(--background);
    font-family: Inconsolata;
    font-size: larger;
    overflow-y: scroll;
    color: var(--font-color)
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}


body{
    margin: 0;
}

#top-header{
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1vmax var(--shadow);
    overflow: hidden;
}

#top-header > * {
    margin: auto;
}
.main-title{
    text-align: center;
    font-size: 3vmax;
    padding-left: 1vw;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.header-gradient-ER{
    background: var(--headerBG);
    background: var(--headerBGL);
}
#main-search-label{
    height: 100%;
    margin-left: 1vw;
    text-align: center;
    display: flex;
    width: 35vw;
    padding-left: 7px;
}
#main-search-label > *, .search-selectors>*{
    margin: 0.35em 0;
    flex-grow: 1;
    outline: none;
    border: none;
}

#main-search{
    width: 22vw;
    /* top-left top-righ bot-right bot-left*/
    border-radius: 0 7px 7px 0;
    font-size: 1.5em;
}
#search-not{
    cursor: pointer;
    display: flex;
}
.search-not-n-active{
    text-decoration:line-through
}

#search-not>span{
    width: 1vw;
    margin: auto 0;
    flex-grow: 1;
}
.search-selectors{
    display: flex;
    width: 13vw;
}
#search-keys{
    font-size: 1.5em;
    width: 10vw;
    background: rgba(0, 0, 0, 0);
    border-radius: 7px 0 0 7px;
}
.search-keys-wrapper{
    position: absolute;
}
#search-keys-selections{
    z-index: 2;
    width: 100%;
}
#search-keys-selections> option{
    cursor: pointer;
    width: 100%;
    background-color: var(--selNActive);
}
#search-keys-selections> option:hover{
    background-color: var(--selHover);
}
#filter-icon{
    width: 7vh;
    height: 7vh;
    padding: 2vh;
}
#filter-icon:hover, #search-keys:hover{
    background-color: var(--btnHover);
}
#settings-btn{
    width: 7vh;
    height: 7vh;
    padding: 2vh;
}
aside{
    display: flex;
    overflow-x: scroll;
}
aside > div{
    flex-grow: 1;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.side-btn{
    font-size: 3vmax;
    align-items: center;
    text-align: center;
    display: flex;
}
.side-btn > span{
    flex-grow: 2;
}
.btn-n-active{
    background-color: var(--btnNActive);
}
.btn-n-active:hover{
    background-color: var(--btnHover);
}
.btn-active{
    background-color: var(--btnActive);
}
.btn-active:hover{
    background-color: var(--btnHover);
}

main{
    overflow-y: scroll;
}

input[type="text"] {
    font-size: 2vmax;
}

.btn, .side-btn{
    box-shadow: inset 0 0 1vmax rgb(44, 8, 2);
    cursor:pointer;
}


@media (orientation: landscape) {
    #non-header{
        display: flex;
    }
    aside{
        height: 90vh;
        width: 15vw;
        flex-direction: column;
    }
    main{
        height: 90vh;
        width: 85vw;
    }
  }
  
  @media (orientation: portrait) {
    body{
        display: flex;
        flex-direction: column;
    }
    #non-header{
        display: flex;
        flex-direction: column;
    }
    aside{
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
    }
    main{
        height: 80vh;
        width: 100vw;
    }
  }

