/* GENERAL */
.normal{background-color: #aa9;}
.fire{background-color: #f42;}
.water{background-color: #39f;}
.electric{background-color: #fc3;}
.grass{background-color: #7c5;}
.ice{  background-color: #6cf;}
.fighting{background-color: #b54;}
.poison{background-color: #a59;}
.ground{background-color: #db5;}
.flying{background-color: #89f}
.psychic{background-color: #f59;}
.bug{background-color: #ab2;}
.rock{background-color: #ba6;}
.ghost{background-color: #66b;}
.dragon{background-color: #76e;}
.dark{background-color: #754;}
.steel{background-color: #aab;}
.fairy{background-color: #e9e;}

.colorA{
    background-color: var(--colorA);
}
.colorB{
    background-color: var(--colorB);
}
.colorC{
    background-color: var(--colorC);
}
.colorD{
    background-color: var(--colorD);
}
.panel{
    display: flex;
    font-size: 2vmax;
    width: 100%;
    height: 100%;
}

.sel-active{
    background-color: var(--selActive);
}
.sel-n-active{
    background-color: var(--selNActive);
}
.sel-n-active:hover, .sel-active:hover{
    background-color: var(--selHover);
}

.data-list{
    text-align: center;
    width: 9em;
    min-width: 9em;
    height: 100%;
    display: flex;
}
.data-list-row{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.data-data{
    flex-grow: 1;
    background-color: var(--colorC);
    display: flex;
    flex-direction: column;

}

span{
    height: fit-content;
    margin: auto;
}

/* ABILITIES */
#abis-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.abi-row{
    display: flex;
    width: 100%;
    font-size: 2vmax;
}
.abi-desc{
    padding-left: 1%;
    flex-grow: 1;
    flex-direction: column;
}
.abi-name{
    width: 9em;
    min-width: 9em;
    text-align: center;
}

/* MOVES */
.moves-top{
    display: flex;
    background-color: var(--colorB);
    text-align: center;
}
.moves-top-sub{
    width: 50%;
    display: flex;
}
.moves-large{
    height: 100%;
}
#moves-pwr{
    font-size: 3.5em;
}
.moves-xlarge{
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
}
.xlarge-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.xlarge-row > span{
    padding-right: 0.5em;
}
#moves-split{
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
#moves-target{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.target-row{
    padding: 2vmin;
    display: flex;
    flex-direction: row;
    height: 50%;
}
.target-row > div{
    width: calc((100% - 4vmin) / 3);;
}
.moves-bot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--colorD);
    overflow-y: scroll;
}
.moves-bot-info{
    display: flex;
    flex-direction: row;
}
.moves-bot-info > *{
    margin-left: 2%;
}
#moves-desc{
    
}
@media (orientation: landscape) {
    .moves-top{
        width: 100%;
        height: 10vw;
    }
}
@media (orientation: portrait) {
    .moves-top{
        width: 100%;
        flex-direction: column;
    }
    .moves-top-sub{
        width: 100%;
    }
    .moves-xlarge{
        width: auto;
        flex-grow: 1;
    }
}
/* SPECIES */
.species-top{
    display: flex;
    width: 100%;
    background-color: var(--colorB);
}
#species-front{
    min-width: 64px;
    min-height: 64px;
    margin: auto;
}
.species-abi-inn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.abi-inn-info{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
}
#species-innates, #species-abilities{
    font-size: 1.5vmax;
    display: grid;
    padding: 1%;
    flex-grow: 1;
}
.species-innate .species-ability{

}
#species-basestats{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.stat-row{
    display: flex;
    font-size: 1.9vmax;
    align-items: center;
}
.stat-name{
    width: 1.5em;
    padding-left: 2%;
}
.stat-num{
    width: 1.5em;
    margin-left: 2%;
    border-radius: 2px;
}
.stat-bar{
    background-color: green;
    background: linear-gradient(to right, green 100%, white 0%);
    height: 50%;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 0.5px;
    border-radius: 3px;

    flex-grow: 1;
}

.species-bot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--colorD);
    overflow-y: scroll
}

.species-mid{
    display: flex;
    flex-direction: row;
    position: relative;
}

#specie-name{
    padding-left: 2%;
}
#species-types{
    display: flex;
    
}
.species-type{
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
}
.species-switch{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
}
.species-switch > * {
    padding: 1px;
    border-radius: 5px;
    margin-right: 0.5em;
}
.species-sub-pannel{
    background-color: var(--colorC);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 1.5vmax;
}
.species-sub-pannel > * {
    flex-grow: 1;
}
.species-bot-row{
    text-align: center;
}
.species-moves-title{
    text-align: center;
    background-color: var(--colorC);
    font-size: 2vmax;
}
.species-move-list{
    flex-grow: 1;
    overflow-y: scroll;
}
.species-move-list > *{
    border-bottom: rgb(49, 44, 44);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}
.species-levelup-row{
    display: flex;
}
.species-levelup-lvl{
    width: 1.5em;
    background-color: var(--colorC);
}
.species-levelup-name{
    width: 100%;
}
#learnset{
    background-color: var(--colorD);
}

#tmhm{
    background-color: var(--colorB);
}
#eggmoves{
    background-color: var(--colorD);
}

@media (orientation: landscape) {
    .data-list{
        height: 90vh;
        overflow-y: scroll;
        flex-direction: column;
        background-color: var(--selNActive);
    }
    .data-list-row{
        min-height: 2em;
    }
    .data-data{
        height: 100%;
    }
    .species-top{
        height: 15vw;
    }
    #species-front{
        height: 15vw;
        width: 15vw;
    }
}

@media (orientation: portrait) {
    .panel{
        flex-direction: column;
    }
    .data-list{
        width: 100%;
        height: 8vh;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;
        margin-bottom: auto
    }
    .data-list-row{
        min-width: 6em;
        align-items: normal
    }
    .data-data{
        height: 72vh;
        width: 100%;
    }
    .species-top{
        height: 15vh;
    }
    #species-front{
        height: 15vh;
        width: 15vh;
    }
    .specie-locs{

    }
}

/* LOCATIONS */
#locations-data{
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    overflow-y: scroll;
}
.location-table{
    width: fit-content;
    text-align: center;
    width: 12em;
}
.location-field{
    margin: auto;
    box-shadow: inset 0 0 1px rgb(44, 8, 2);
    overflow-y: scroll;
}
.location-title{
    background-color: var(--colorD);
    text-align: center;
}
.location-row{
    display: flex;
    width: 11em;
}
.location-specie{
    width: 6em;
}
.location-rate{
    width: 1.5em;
}
.location-lvl{
    width: 3.5em;
}