.yline{
    border-top: 1px solid black;
}
.xline{
    border-left: 1px solid black;
}
.radial-btn{
    background-color: var(--selNActive);
    text-align: center;
    height: fit-content;
    position: absolute;
}

.radial-btn:hover{
    background-color: var(--selHover);
}
.quadri-radial{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    position: relative;
    font-size: 2em;
}
.quadri-radial-btn0{
    top: 0;
    left: 0;
}

.quadri-radial-btn1{
    top: 0;
    right: 0;
}

.quadri-radial-btn2{
    bottom: 0;
    left: 0;
}

.quadri-radial-btn3{
    bottom: 0;
    right: 0;
}

