/* GENERAL */
.normal{background-color: #aa9;}
.fire{background-color: #f42;}
.water{background-color: #39f;}
.electric{background-color: #fc3;}
.grass{background-color: #7c5;}
.ice{  background-color: #6cf;}
.fighting{background-color: #b54;}
.poison{background-color: #a59;}
.ground{background-color: #db5;}
.flying{background-color: #89f}
.psychic{background-color: #f59;}
.bug{background-color: #ab2;}
.rock{background-color: #ba6;}
.ghost{background-color: #66b;}
.dragon{background-color: #76e;}
.dark{background-color: #754;}
.steel{background-color: #aab;}
.fairy{background-color: #e9e;}

.colorA{
    background-color: var(--colorA);
}
.colorB{
    background-color: var(--colorB);
}
.colorC{
    background-color: var(--colorC);
}
.colorD{
    background-color: var(--colorD);
}
.panel{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 2vmax;
}

.sel-active{
    background-color: var(--selActive);
}
.sel-n-active{
    background-color: var(--selNActive);
}
.sel-n-active:hover, .sel-active:hover{
    background-color: var(--selHover);
}


/* ABILITIES */
#abis-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.abi-row{
    display: flex;
    width: 100%;
    font-size: 2vmax;
}
.abi-desc{
    padding-left: 1%;
    flex-grow: 1;
    flex-direction: column;
}
.abi-name{
    width: 9em;
    text-align: center;
}

/* MOVES */
#moves-list{
    text-align: center;
    width: 9em;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#moves-data{
    height: 100%;
    flex-grow: 1;
    background-color: var(--colorC);
    display: flex;
    flex-direction: column;
}
.moves-top{
    display: flex;
    width: 100%;
    background-color: var(--colorB);
    height: 10vw;
    text-align: center;
}
.moves-large{
    height: 100%;
    width: 12vw;
}
#moves-pwr{
    font-size: 3.5em;
}
.moves-xlarge{
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
}
.xlarge-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.xlarge-row > span{
    padding-right: 0.5em;
}
#moves-split{
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
    }
.moves-bot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--colorD);
    overflow-y: scroll
}
.moves-bot-info{
    display: flex;
    flex-direction: row;
}
.moves-bot-info > *{
    margin-left: 2%;
}
/* SPECIES */
#panel-species{
    
}
#species-list{
    text-align: center;
    width: 9em;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.species-row, .moves-row{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 2em;
    box-shadow: inset 0 0 1vmax rgb(44, 8, 2);
}

#species-data{
    height: 100%;
    flex-grow: 1;
    background-color: var(--colorC);
    display: flex;
    flex-direction: column;
}

.species-top{
    display: flex;
    width: 100%;
    background-color: var(--colorB);
}
#species-front{
    width: 10vw;
    height: 10vw;
    min-width: 64px;
    min-height: 64px;
    margin: auto;
}
.species-abi-inn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.abi-inn-info{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
}
#species-innates, #species-abilities{
    font-size: 1.5vmax;
    display: grid;
    padding: 1%;
    flex-grow: 1;
}
.species-innate .species-ability{

}
#species-basestats{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.stat-row{
    display: flex;
    font-size: 1.4vmax;
    align-items: center;
}
.stat-name{
    width: 1.5em;
    padding-left: 2%;
}
.stat-num{
    width: 1.5em;
    margin-left: 2%;
    border-radius: 2px;
}
.stat-bar{
    background-color: green;
    background: linear-gradient(to right, green 100%, white 0%);
    height: 50%;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 0.5px;
    border-radius: 3px;

    flex-grow: 1;
}

.species-bot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--colorD);
    overflow-y: scroll
}

.species-info-bar{
    display: flex;
    flex-direction: row;
}

#specie-name{
    padding-left: 2%;
}
#species-types{
    display: flex;
    
}
.species-type{
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
}
.species-moves{
    background-color: var(--colorC);
    display: grid;
    grid-auto-flow:column;
    flex-grow: 1;
}
.species-bot-row{
    display: flex;
    flex-direction: column
}
.species-moves-title{
    text-align: center;
    background-color: var(--colorC);
}
.species-move-list{
    flex-grow: 1;
    overflow-y: scroll;
}
#learnset{
    background-color: var(--colorD);
}

#tmhm{
    background-color: var(--colorB);
}
#eggmoves{
    background-color: var(--colorD);
}