:root{
    --btnActive: rgb(99, 99, 99);
    --btnHover: rgb(68, 68, 68);
    --btnNActive:  rgb(46, 46, 46);
    --selActive:  rgb(91, 113, 123);
    --selHover: rgb(94, 112, 119);
    --selNActive:  rgb(32, 39, 43);
    --colorA: rgb(45, 52, 54);
    --colorB: rgb(26, 30, 31);
    --colorC: rgb(59, 63, 65);
    --colorD: rgb(33, 35, 36);
    --colorE: rgb(48,60,76, 70%);
    --background: rgb(44, 62, 75);
    --shadow: rgb(1, 7, 19);
    --headerBG: rgb(155, 165, 172);
    --headerBGL: linear-gradient(0deg, rgb(28, 64, 105)30%, rgb(81, 96, 100) 100%);
    --font-color: white;
    --positive: #1fc990;
}
